.videobox{
	height: 450upx;
	background: #999;
	video{ width: auto; height: 100%; display: block; margin: 0 auto;}
	.tipbox{
		height: 450upx;
		background: #999;
		position: relative;
		overflow: hidden;
		image{width: 100%; height: 100%;}
		.txt{
			width: 100%; height: 100%;
			 background: rgba(0,0,0,.5);
			position: absolute;
			left: 0; top: 0;
			z-index: 2;
			color: #fff;
			padding: 0 100upx;
			text-align: center;
		}
	}
}
.classDetails {
	background-color: white;
	.line {
		height: 20upx;
		background-color: #F5F5F5;
	}
	.last_line {
		padding-bottom: 126upx;
	}
	.top {
		.photo {
			image {
				height: 520upx;
			}
		}
		.info {
			display: flex;
			align-items: center;
			padding: 20upx 30upx 0;
			.name {
				flex: 1;
				font-weight: bolder;
				font-size: 36upx;
			}
		}
		.detail {
			padding: 20upx 30upx;
			.detail_1 {
				color: #8f8f8f;
				font-size: 26upx;
			}
			.detail_2 {
				color: #8f8f8f;
				font-size: 24upx;
			}
		}
		.info1 {
			padding: 10upx 30upx 30upx 30upx;
			.info1_3 {
				image {
					border-radius: 50%;
					height: 75upx;
					width: 75upx;
				}
			}
			.info1_4 {
				font-weight: bold;
				padding: 0 20upx;
			}
			.info1_2 {
				height: 60upx;
				width: 140upx;
				line-height: 60upx;
				color: white;
				font-size: 25upx;
				background-color: $primary;
				border-radius: 60upx;
				text-align: center;
				&.ed{
					color:$primary;
					border: 1px solid $primary;
					background-color: #fff;
				}
			}
		}
	}
	.con {
		.title {
			font-size: 30upx;
			font-weight: bold;
			padding: 30upx 0 0 30upx;
		}
		.con1_1 {
			padding: 0 30upx 30upx 30upx;
			color: #6c6c6c;
			font-size: 28upx;
			text:nth-of-type(1) {
				padding-left: 0upx;
			}
			text {
				padding-left: 20upx;
			}
		}
	}
	.foot {
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: white;
		text-align: center;
		padding: 16upx 0;
		border-top: 1upx solid #eee;
		.foot_1 {
			color: gray;
			width: 100upx;
			font-size: 26upx;
			line-height: 1;
			.bd {
				color: #f0370b;
			}
		}
		.foot_2 {
			line-height: 1;
			color: gray;
			width: 100upx;
			font-size: 26upx;
		}
		.iconfont {
			font-size: 40upx;
			line-height: 1.4;
		}
		.foot_3 {
			background-color: #fa6611;
			border-radius: 60upx;
			font-size: 26upx;
			color: white;
			height: 70upx;
			line-height: 70upx;
			flex: 1;
			margin: 0 20upx;
		}
		.foot_4 {
			background-color: #ff3333;
			border-radius: 60upx;
			font-size: 26upx;
			color: white;
			height: 70upx;
			line-height: 70upx;
			flex: 1;
			margin-right: 20upx;
		}
	}
}
