.classDetails {
	background-color: white;
	.line {
		height: 20upx;
		background-color: #f3f3f3;
	}
	.last_line {
		padding-bottom: 126upx;
	}
	.top {
		.photo {
			image {
				height: 520upx;
			}
		}
		.info {
			display: flex;
			align-items: center;
			padding: 20upx 30upx 0;
			.name {
				flex: 1;
				font-weight: bolder;
				font-size: 36upx;
			}
		}
		.detail {
			display: flex;
			align-items: center;
			.detail_1 {
				flex: 3;
				color: #8f8f8f;
				font-size: 26upx;
				padding: 20upx 30upx;
			}
			.detail_2 {
				flex: 1;
				float: right;
				color: #8f8f8f;
				font-size: 25upx;
				padding: 20upx 0 0 30upx;
				transform: scale(0.9);
			}
		}
		.info1 {
			display: flex;
			align-items: center;
			padding: 10upx 30upx 30upx 30upx;
			.info1_3 {
				flex: 1;
				image {
					border-radius: 50%;
					height: 75upx;
					width: 75upx;
				}
			}
			.info1_4 {
				flex: 5;
				font-weight: bold;
			}
			.info1_2 {
				flex: 1.5;
				height: 60upx;
				line-height: 60upx;
				color: white;
				font-size: 25upx;
				background-color: #fa6008;
				border-radius: 60upx;
				text-align: center;
			}
		}
	}
	.con {
		.title {
			font-size: 30upx;
			font-weight: bold;
			padding: 30upx 0 0 30upx;
		}
		.con1_1 {
			padding: 0 30upx 30upx 30upx;
			color: #6c6c6c;
			font-size: 28upx;
			text:nth-of-type(1) ~ text {
				padding-left: 20upx;
			}
		}
	}
	.foot {
		display: flex;
		align-items: center;
		text-align: center;
		position: fixed;
		width: 100%;
		bottom: 0;
		background-color: white;
		padding-bottom: -20upx;
		.foot_1 {
			flex: 1;
			line-height: 36upx;
			color: gray;
			margin-left: 20upx;
			.bd {
				color: #f0370b;
			}
			view {
				font-size: 30upx;
			}
		}
		.foot_2 {
			flex: 1;
			line-height: 36upx;
			color: gray;
			margin-right: 20upx;
			view {
				font-size: 30upx;
			}
		}
		.foot_3 {
			width: 100%;
			flex: 2;
			background-color: #fa6611;
			border-radius: 60upx;
			font-size: 26upx;
			color: white;
			height: 70upx;
			line-height: 70upx;
			margin: 20upx;
		}
		.foot_4 {
			width: 100%;
			flex: 2;
			background-color: #ff3333;
			border-radius: 60upx;
			font-size: 26upx;
			color: white;
			height: 70upx;
			line-height: 70upx;
			margin: 20upx;
		}
	}
}
