.appointmentCoach {
	.title {
		font-size: 28upx;
		font-weight: bold;
		margin: 20upx;
	}
	.tui {
		display: flex;
		width: 100%;
		overflow: scroll;
		> view {
			width: 270upx;
			height: 310upx;
		}
		.list {
			padding: 30upx 60upx;
			margin-left: 20upx;
			border-radius: 10upx;
			background-color: white;
			text-align: center;
			.list1_1 {
				image {
					border-radius: 50%;
					width: 150upx;
					height: 150upx;
				}
			}
			.name {
				font-size: 28upx;
				font-weight: bold;
			}
			.num {
				color: gray;
			}
		}
	}
	.list1 {
		display: flex;
		align-items: center;
		padding: 30upx;
		margin: 20upx;
		border-radius: 10upx;
		background-color: white;
		.list1_1 {
			flex: 1.5;
			image {
				border-radius: 50%;
				width: 120upx;
				height: 120upx;
			}
		}
		.list1_2 {
			flex: 3.5;
			.name {
				font-size: 28upx;
				font-weight: bold;
			}
			.num {
				color: gray;
			}
		}
		.list1_3 {
			flex: 1.8;
			background-color: #fa6008;
			color: white;
			border-radius: 80upx;
			text-align: center;
			height: 60upx;
			line-height: 60upx;
			color: #fff;
		}
	}
}
