.details {
	background-color: white;
	height: 100vh;
	.line {
		height: 20upx;
		background-color: #f3f3f3;
	}
	.top {
		.photo {
			image {
				height: 600upx;
			}
		}
		.info {
			display: flex;
			align-items: center;
			padding: 20upx 30upx;
			.name {
				flex: 1;
				font-weight: bolder;
				font-size: 36upx;
			}
			.detail {
				flex: 2.5;
				color: #7e7e7e;
				font-size: 28upx;
			}
			.person {
				flex: 1;
				color: #adadad;
				font-size: 25upx;
				text {
					font-size: 25upx;
					padding-left: 5upx;
				}
			}
		}
		.info1 {
			display: flex;
			align-items: center;
			padding: 10upx 20upx 30upx 30upx;
			.info1_1 {
				flex: 0.9;
				image {
					height: 70upx;
					width: 300upx;
				}
			}
			.info1_2 {
				flex: 1;
				text-align: right;
				margin-right: 50upx;
				color: #adadad;
				font-size: 25upx;
			}
		}
	}
	.cen {
		padding: 30upx;
		display: flex;
		align-items: center;
		.stadium {
			flex: 1;
			image {
				border-radius: 50%;
				width: 120upx;
				height: 120upx;
			}
		}
		.stadium_1 {
			flex: 3.5;
			.stadium_1_1 {
				font-weight: bold;
				font-size: 28upx;
			}
			.stadium_1_2 {
				font-size: 28upx;
			}
		}
	}
	.time {
		.title {
			font-size: 30upx;
			font-weight: bold;
			padding: 30upx 0 30upx 30upx;
		}
	}
}
