.container {
	view,
	text,
	image {
		box-sizing: border-box;
	}
	scroll-view {
		width: 100%;
		white-space: nowrap;
		height: 130upx;
		background-color: #fff;
		position: relative;
		padding-top: 10upx;

		// margin-top:10px;
		&::after {
			background: #e5e5e5;
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: scaleY(0.5);
		}
		.flex-box {
			display: inline-block;
			height: 120upx;
			width: 14%;
			box-sizing: border-box;

			&.active {
				.date-box {
					border: none;
					.days {
						font-weight: bold;
						color: #818181;
					}
					.date {
						font-weight: bold;
						// color: #818181;
						color: white;
						font-size: 26upx;
						background-color: #fa6008;
						border-radius: 50%;
						padding: 5upx 12upx;
					}
				}
			}
			.date-box {
				border: none;
				display: flex;
				height: 110upx;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				font-size: 26upx;
				color: black;
				.date {
					font-size: 26upx;
					&.active {
						color: white !important;
						font-size: 26upx;
						background-color: #fa6008;
						border-radius: 50%;
						padding: 5upx 13upx;
					}
				}
			}
		}
	}
	.time-box_1 {
		background-color: #f3f3f3;
		.begin {
			text-align: left;
			padding: 10upx 0 5upx 28upx;
			color: gray;
		}
		.time-box {
			display: flex;
			flex-wrap: wrap;
			padding: 0 20upx 20upx;
			.item {
				width: 20%;
				padding: 10upx 6upx;
				position: relative;
				&-box {
					height: 70upx;
					line-height: 70upx;
					background: #fff;
					color: #333;
					border: 1px solid #eeeeee;
					font-size: 28upx;
					border-radius: 10upx;
					display: flex;
					align-items: center;
					justify-content: center;
					&.disable {
						background: #e5e5e5 !important;
						color: #999 !important;

						height: 70upx;
						line-height: 70upx;
					}
					&.active {
						background-color: #fa6008;
						color: white !important;
					}
					.all {
						font-size: 22upx;
						padding-top: 10upx;
					}
					.full {
						position: absolute;
						bottom: 2upx;
						right: 8upx;
						image {
							width: 40upx;
							height: 40upx;
						}
					}
				}
			}
		}
	}
}
