.index_swiper .swiper {
	.swiperTop {
		padding: 0 22upx;
	}
}
.top image {
	height: 400upx;
}
.cen {
	border-radius: 20upx;
	background-color: white;
	margin: 3%;
	padding: 2%;
	.cardTitle {
		color: #a7aab9;
		border-bottom: 1upx solid #f8f8f8;
		padding: 10upx;
	}
	.cardAll {
		display: flex;
		padding: 10upx 10upx 0 10upx;
		align-items: center;
		.card_1 {
			padding-top: 10upx;
			flex: 3;
			display: flex;
			> view:nth-of-type(1) {
				flex: 1;
				image {
					width: 80upx;
					height: 80upx;
				}
			}
			.card_1_2 {
				position: relative;
				top: 20upx;
				padding-bottom: 20upx;
			}
			> view:nth-of-type(2) {
				flex: 4;
				.card_1_1 {
					color: #a7aab9;
					font-size: 138%;
					font-weight: bold;
				}
				text {
					font-size: 200%;
					font-weight: bold;
				}
				view {
					color: #a7aab9;
				}
			}
		}
		.card_2 {
			flex: 0.7;
			color: #fd8b36;
			background-color: #fdf5ee;
			text-align: center;
			border-radius: 60upx;
			padding: 5upx 10upx;
		}
		.card_2_2 {
			flex: 1;
			color: #fd8b36;
			background-color: #fdf5ee;
			text-align: center;
			border-radius: 60upx;
			padding: 5upx 10upx;
		}
		.card_2_1 {
			flex: 1;
			justify-content: end;
		}
	}
}
