.index_swiper .swiper {
	height: 300upx;
	margin-top: 20upx;
	.swiperTop {
		padding: 0 22upx;
		.img {
			height: 300upx;
		}
	}
}
.top image {
	height: 400upx;
}
.cen {
	border-radius: 20upx;
	background-color: white;
	margin: 3%;
	padding: 2%;
	.cardTitle {
		color: #a7aab9;
		border-bottom: 1upx solid #f8f8f8;
		padding: 10upx;
	}
	.cardAll {
		display: flex;
		padding: 10upx 10upx 0 10upx;
		align-items: center;
		.card_1 {
			padding-top: 10upx;
			flex: 3;
			display: flex;
			> view:nth-of-type(1) {
				flex: 1;
				image {
					width: 80upx;
					height: 80upx;
				}
			}
			.card_1_2 {
				position: relative;
				top: 20upx;
				padding-bottom: 20upx;
			}
			> view:nth-of-type(2) {
				flex: 4;
				.card_1_1 {
					color: #a7aab9;
					font-size: 138%;
					font-weight: bold;
				}
				text {
					font-size: 200%;
					font-weight: bold;
				}
				view {
					color: #a7aab9;
				}
			}
		}
		.card_2 {
			flex: 0.7;
			color: #fd8b36;
			background-color: #fdf5ee;
			text-align: center;
			border-radius: 60upx;
			padding: 5upx 10upx;
		}
		.card_2_2 {
			flex: 1;
			color: #fd8b36;
			background-color: #fdf5ee;
			text-align: center;
			border-radius: 60upx;
			padding: 5upx 10upx;
		}
		.card_2_1 {
			flex: 1;
			justify-content: end;
		}
	}
}
.bodydata{
	text-align: center;
	padding: 30upx;
	.lab{
		color: #999;
	}
	.weight{
		font-size: 88upx;
		color: $primary;
		line-height: 1.5;
	}
	.nums{
		text{
			width: 20%;
			color: #999;
		}
	}
	.rate{
		width: 100%;
		height: 20upx;
		border-radius: 100px;
		margin: 20upx 0;
		>view{
			width: 20%;
			height: 100%;
			border-right: 1px solid #fff;
			position: relative;
		}
		.rate0{background: #00aaff; border-radius: 100px 0 0 100px;}
		.rate1{background: #30e607;}
		.rate2{background: #ffaa00;}
		.rate3{background: #ff5500;}
		.rate4{background: #ff0000; border-radius: 0 100px 100px 0; border-right: none;}
		.active{
			height: 36upx;width: 36upx;
			border-radius: 50%;
			position: absolute;
			left: 0;
			top: -8upx;
			background: #fff;
			border: 1px solid #eee;
			z-index: 2;
			margin-left: -18upx;
		}
	}
	.txts{
		margin-bottom: 20upx;
		text{
			width: 20%;
			color: #999;
		}
	}
	.btns{
		.btn{
			margin: 0 30upx;
			padding: 10upx 30upx;
			background: $primary;
			color: #fff;
			border-radius: 100px;
		}
	}
}