.courseDetails {
	background-color: white;
	.line {
		height: 20upx;
		background-color: #f3f3f3;
	}
	.top {
		.photo {
			image {
				height: 520upx;
			}
		}
		.info {
			display: flex;
			align-items: center;
			padding: 20upx 30upx 0;
			.name {
				flex: 1;
				font-weight: bolder;
				font-size: 36upx;
			}
		}
		.detail {
			flex: 2.5;
			color: #8f8f8f;
			font-size: 26upx;
			padding: 20upx 30upx;
		}
		.info1 {
			display: flex;
			align-items: center;
			padding: 10upx 20upx 30upx 30upx;
			.info1_3 {
				flex: 0.8;
				image {
					border-radius: 50%;
					height: 75upx;
					width: 75upx;
				}
			}
			.info1_4 {
				padding-left: 20upx;
				flex: 2;
				font-weight: bold;
			}
			.info1_1 {
				flex: 2;
				text-align: right;
				image {
					border-radius: 50%;
					height: 50upx;
					width: 50upx;
				}
			}
			.info1_2 {
				padding-left: 20upx;
				flex: 1.8;
				color: #adadad;
				font-size: 25upx;
			}
		}
	}
	.cen {
		padding: 30upx;
		display: flex;
		align-items: center;
		.stadium {
			flex: 1;
			image {
				border-radius: 50%;
				width: 120upx;
				height: 120upx;
			}
		}
		.stadium_1 {
			flex: 3.5;
			.stadium_1_1 {
				font-weight: bold;
				font-size: 28upx;
			}
			.stadium_1_2 {
				font-size: 25upx;
			}
		}
	}
	.time {
		.title {
			font-size: 30upx;
			font-weight: bold;
			padding: 30upx 0 30upx 30upx;
		}
	}
	.con {
		.title {
			font-size: 30upx;
			font-weight: bold;
			padding: 30upx 0 0 30upx;
		}
		.con1_1 {
			padding: 0 30upx 30upx 30upx;
			color: #6c6c6c;
			text {
				color: #fa6611;
				padding-left: 30upx;
				font-weight: bold;
			}
		}
	}
}
