.tab {
	background-color: white;
	height: 100vh;
	.tabList {
		width: 100%;
		display: flex;
		.item {
			flex: 1;
			text-align: center;
			color: grey;
			line-height: 73rpx;
			font-size: 32rpx;
			font-weight: 500;
			height: 100%;
			box-sizing: border-box;
			margin: 0 12px;
			&.active {
				color: #f57609;
				border-bottom: 5rpx solid #f57609;
				font-weight: bold;
				margin: 0 12px;
			}
		}
	}

	.list {
		margin: 20upx;
		position: relative;
		.sec2_1 {
			margin-bottom: 20upx;
			image {
				border-radius: 20upx;
				height: 280upx;
			}
		}
		.detail {
			background: rgba(0, 0, 0, 0.1);
			border-radius: 20upx;
			height: 280upx;
			width: 100%;
			z-index: 1;
			position: absolute;
			padding-left: 30upx;
			padding-top: 100upx;
			margin-top: -300upx;
			color: white;
			.title {
				font-size: 40upx;
			}
		}
	}
}
