.tab {
	background-color: white;
	height: 100vh;
	.tabList {
		width: 100%;
		display: flex;
		.item {
			flex: 1;
			text-align: center;
			color: grey;
			line-height: 73rpx;
			font-size: 32rpx;
			font-weight: 500;
			height: 100%;
			box-sizing: border-box;
			margin: 0 12px;
			&.active {
				color: #f57609;
				border-bottom: 5rpx solid #f57609;
				font-weight: bold;
				margin: 0 12px;
			}
		}
	}

	.list {
		padding: 12upx 0;
		.sec2_1 {
			padding: 12upx 20upx;
			image {
				height: 280upx;
			}
		}
		.more {
			text-align: center;
			background: #f3f3f3;
			border-radius: 62upx;
			margin: 22upx auto;
			height: 76upx;
			line-height: 76upx;
			width: 50%;
		}
	}
}
