.tab {
	position: absolute;
	height: 100%;
	background-color: white;
	.tab1 {
		.con {
			padding: 12upx;
			image {
				height: 260upx;
				width: 96%;
			}
		}
	}
	.xxx {
		font-size: 42rpx;
		font-weight: bold;
		padding: 20rpx 0;
		text-align: center;
	}
}
