.fatPage {
	padding: 0 30upx 30upx;
}
.tabTime {
	.item {
		width: 100upx;
		text-align: center;
		padding: 20upx 0;
		font-size: 32upx;
		font-weight: bold;
		&.active {
			color: $primary;
		}
	}
}
.dateTime {
	.time {
		padding: 0 20upx;
	}
}
.nowInfo {
	padding: 20upx 0;
	text-align: center;
	.weight {
		font-size: 76upx;
		line-height: 1;
		color: $primary;
	}
}
.itembox {
	background: #fff;
	border-radius: 8px;
	margin-bottom: 20upx;
	padding: 20upx;
	.txtName {
		color: #999;
		font-size: 26upx;
	}
	.val {
		font-size: 28upx;
	}
}
.itemlist {
	display: flex;
	flex-wrap: wrap;
	.itembox {
		width: 38%;
	}
	.itembox:nth-of-type(1) ~ view {
		margin-left: 20upx;
	}
}
.bottom{
	color: #999;
}
