.head1{
	padding:20upx 0;
}
.reasonbox{
	border:1upx solid #999;border-radius: 10upx;padding:0 20upx;
	input{
		font-size:26upx;height:75upx;
	}
}
.app_tot{
	padding:30upx 0;
}
.apply_money{
	margin-left:30upx;
}
textarea{
	height:200upx;border:1upx solid #999;border-radius: 10upx;
	width: 100%;
	padding:10upx;font-size:26upx;
}
.btn_bb{
	position: fixed;
	width:100%;bottom:0;height:88upx;line-height: 88upx;
	background: #ff3333;color:#ffffff;
	text-align: center;
}