*,view {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.uni-icon:before {
	vertical-align: middle;

}

.center {
	text-align: center;
}

.text_l {
	text-align: left;
}

.text_r {
	text-align: right;
}

.clear:after,
.clear:before {
	display: block;
	content: "";
	clear: both;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

.block {
	display: block !important;
}

.li_50 .item {
	width: 50%;
}

.li_33 .item {
	width: 33.33333%;
}

.li_25 .item {
	width: 25%;
}

.li_20 .item {
	width: 20%;
}

.color_89674c {
	color: #ee9b11;
}

.color_000000 {
	color: #000 !important;
}

.bg_fff {
	background-color: #fff;
}

.bg_no {
	background: none !important;
}

.bg_f5f5f5 {
	background-color: #F5F5F5 !important;
}

.bg_89674c {
	background-color: #FF3333 !important;
}
.pt0{
	padding-top:0 !important;
}
.pt5 {
	padding-top: 10upx !important;
}

.pt10 {
	padding-top: 20upx !important;
}

.pt15 {
	padding-top: 30upx !important;
}

.pt20 {
	padding-top: 40upx !important;
}

.pl10 {
	padding-left: 20upx !important;
}

.pr10 {
	padding-right: 20upx !important;
}
.pb5{
	padding-bottom: 10upx !important;
}
.pb10 {
	padding-bottom: 20upx !important;
}

.pb15 {
	padding-bottom: 30upx !important;
}

.pb20 {
	padding-bottom: 40upx !important;
}

.pA10 {
	padding: 20upx;
}

.mt0 {
	margin-top: 0 !important;
}

.mt5 {
	margin-top: 10upx !important;
}

.mt10 {
	margin-top: 20upx !important;
}

.mt20 {
	margin-top: 40upx !important;
}

.mb10 {
	margin-bottom: 20upx !important;
}
.mb20{
	margin-bottom: 40upx !important;
}
.bt0 {
	bottom: 0 !important;
}

.bt10 {
	bottom: 20upx !important;
}

.bt20 {
	bottom: 40upx !important;
}

.h86 {
	height: 172upx;
}

.radius0 {
	border-radius: 0;
}

.radius100 {
	border-radius: 200upx;
}
.ftBtn .uni-icon-plus{
	color:#fff;
	font-size: 50upx;
	margin-right: 10upx;
	vertical-align: middle;
}
button.radius100:after {
	border-radius: 200upx;
}

button[size="middle"] {
	font-size: 30upx;
	display: inline-block;
	line-height: 2.2;
}

.btn-active[type="primary"],button[type="primary"] {
	color: #fff;
	background-color: #FF3333;
}

.btn-active[type="primary"][plain="true"] {
	color: #FF3333;
	border-color: #FF3333;
}

button.btnPay {
	color: #fff;
	background: #FF3333;
}

.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block !important;
}

.text-line2 {
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.weui-cells {
	background-color: #fff;
	margin-top: 20upx;
}

.weui-cell {
	padding: 20upx;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	font-size: 30upx;
}

.weui-cells .weui-cell:before {
	position: absolute;
	left: 20upx;
	right: 20upx;
	content: "";
	height: 1px;
	background: #F2F2F2;
	bottom: 0;
}

.weui-cells .weui-cell:last-child:before {
	display: none;
}

.weui-cell * {
	font-size: 30upx;
}

.weui-cell__bd .msg {
	color: #999999;
}

.weui-input {
	font-size: 30upx;
	height: auto !important;
}

.weui-input * {
	height: auto !important;
	line-height: 1.8 !important;
}

.weui-Area {
	font-size: 30upx;
	width: 100%;
	line-height: 1.5;
}

.weui-Area * {
	line-height: 1.5;
}

.tips,
.tips * {
	font-size: 26upx;
	color: #999999;
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.flexAlignCneter {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.flexAlignBaseline {
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-moz-align-items: baseline;
	-ms-align-items: baseline;
	-o-align-items: baseline;
	align-items: baseline;
}

.flexAlignStart {
	-webkit-box-align: flex-start;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;
}

.flex1 {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	overflow: hidden;
}

.weui-cell__bd {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	overflow: hidden;
}

.uni-icon {
	color: #666666;
}
.top-box{
	position: relative;
	height: 440upx;
	overflow: hidden;
}
.top-box .flowdata{
	position: relative;
	text-align: center;
	margin-top: 20upx;
}
.flowdata .item{ margin: 0 40upx;}
.flowdata .num{ font-weight: 30upx;}
.uni-icon-arrowright,.uni-icon-arrowdown,.uni-icon-arrowup {
	font-size: 36upx;
	color: #999999;
}

.circleNum {
	position: absolute;
	content: "";
	top: -10upx;
	right: -16upx;
	font-size: 20upx;
	color: #ff3333;
	border: 1upx solid #ff3333;
	background-color: #fff;
	min-width: 36upx;
	height: 36upx;
	line-height: 36upx;
	border-radius: 100%;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.swiperImg {
	font-size: 0;
	margin-top: 20upx;
}

.swiperImg image {
	width: 100%;
}

.fixed {
	position: fixed;
	z-index: 4;
	width: 100%;
}

button.fill {
	background: #004098;
	color: #fff;
}

.btnCode {
	color: #004098;
	line-height: 1.8;
	padding-left: 24upx;
	padding-right: 24upx;
	font-size:30upx;
}

.btnCode:after {
	border: 1px solid #004098;
}
.titleBox{
	
}
.titleBox .weui-cell__hd{
	font-size: 32upx;
}
.titleBox .weui-cell__bd .txt{
	font-size: 26upx;
	color:#999;
	position: relative;
	display: inline-block;
	margin-left:30upx;
}
.titleBox .weui-cell__bd .txt *{
	font-size: 26upx;
}
.titleBox .weui-cell__bd .txt:after{
	content: "";
	position: absolute;
	width: 50upx;
	height: 2px;
	bottom: 0;
	left:0;
	right:0;
	margin:0 auto;
}
.titleBox .weui-cell__bd .txt.active{
	color:#333;
}
.titleBox .weui-cell__bd .txt.active:after{
	background: #FF6666;
}
/* tag */
.tag {
	display: inline-block;
	vertical-align: middle;
	line-height: 56upx;
	border: 1px solid #f2f2f2;
	padding: 0 20upx;
	color: #999999;
	margin-right: 20upx;
	margin-bottom: 20upx;
	min-width: 120upx;
	text-align: center;
}

.tag.active {
	color: #004098;
	border-color: #004098;
}

.num_tips {
	font-size: 26upx;
	color: #999;
}

.tabContent{
	height: 100%;
	overflow-y: auto;
}
/* 弹窗 */
.uni-modal {
	background-color: #fff;
}

.uni-modal * {
	box-sizing: border-box;
}

.uni-modal__hd {
	font-size: 36upx;
	padding: 18upx 20upx;
	position: relative;
}

.bb__uni-modal__hd {
	border-bottom: 1px solid #F2F2F2;
}

.uni-modal__hd .btn_close {
	position: absolute;
	left: 16upx;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 3;
}

.uni-modal .uni-modal__bd {
	padding: 1.3em 1.6em 1.3em;
	min-height: 60upx;
	font-size: 30upx;
	line-height: 1.4;
	word-wrap: break-word;
	word-break: break-all;
	color: #999;
	max-height: 800upx;
	overflow-y: auto;
}

.uni-modal .uni-modal__bd * {
	font-size: 30upx;
	line-height: 1.4;
}

.uni-modal .uni-modal__bd .title {
	font-size: 32upx;
	color: #212121;
	margin-bottom: 10upx;
}

.uni-modal .uni-modal__ft {
	position: relative;
	line-height: 96upx;
	font-size: 36upx;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}

.uni-modal .uni-modal__btn {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #3cc51f;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	position: relative;
	line-height: 96upx;
	font-size: 36upx;
}

.uni-modal .uni-modal__btn_default {
	color: #353535;
}

.uni-modal .uni-modal__ft:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 1px;
	border-top: 1px solid #d5d5d6;
	color: #d5d5d6;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.uni-modal .uni-modal__btn:after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	bottom: 0;
	border-left: 1px solid #d5d5d6;
	color: #d5d5d6;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
}

.uni-modal .uni-modal__btn_primary {
	color: #ee9b11;
}

/* 会员中心样式 */

.memberTop {
	position: relative;
	padding: 20upx 30upx 60upx;
	color: #fff;
}
.memberTop:before{
	display: block;
	content: '';
	background: #ff3333;
	/* background: linear-gradient(left,#ff5a5b,#ff3737); */
	/* background: -moz-linear-gradient(left,#ff5a5b,#ff3737); */
	/* background: -ms-linear-gradient(left,#ff5a5b,#ff3737); */
	/* background: -webkit-linear-gradient(left,#ff5a5b,#ff3737); */
	/* background: -o-linear-gradient(left,#ff5a5b,#ff3737); */
	width: 150vw;
	height: 720upx;
	position: absolute;
	top: 100upx;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	/* #ifndef H5 */
	z-index: -3;
	/* #endif */
}

.lz-vip{
	height: 50upx;
}
.lz-vip .vip-box{
	/* width: 150upx; */
	height: 40upx;
	border-radius: 16upx;
	border: solid 1upx #ffffff;
	font-size:20upx
}
.lz-vip .vip-box image{
	width: 20upx;
	height: 17upx;
	margin: 0 5upx 0 0;
}
.lz-vip .sj{
	width: 150upx;
	height: 40upx;
	background-color: #feed00;
	border-radius: 16upx;
	color:  #ff3333;
	font-size:20upx;
	margin-left: 15upx;
}
.iconBtnBox {
	font-size: 0;
}

.iconBtnBox .iconBtn {
	display: inline-block;
	margin-left: 10upx;
	position: relative;
}

.memberTop .iconBtnBox {
	text-align: right;
}
.iconBtnBox .iconfont.icon-xiaoxi .uni-badge{ position: absolute; top: 0; right: 0; border: 1px solid #FF3333; background: #fff; color: #FF3737;transform: scale(.8);} 
.memberTop .iconBtn {
	width: 30px;
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.tx_info * {
	line-height: 1.5;
}

.tx_info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	font-size: 28upx;
}

.tx_info .tx {
	margin-right: 30upx;
}

.tx_info .tx,
.tx_info .tx image {
	width: 110upx;
	height: 110upx;
	border-radius: 50%;
}

.tx_info .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	overflow: hidden;
	position: relative;
    padding: 0 30px 0 0;
}
/* .tx_info .info:after {
    font-family: uniicons;
    content: "\E583";
    position: absolute;
    right: 0;
    top: 50%;
    color: #bbb;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */
.memberTop .tx_info .info .name{ font-size: 0;}
.memberTop .tx_info .info .name .txt{
	display: inline-block;
	vertical-align: middle;
	font-size: 34upx;
	color: #fff;
	max-width: 148upx;
	overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.memberTop .tx_info .info .plusicon{ display: inline-block; vertical-align: middle; background: #cfb67d; color: #fff; font-size: 20upx; padding: 2upx 10upx; border-radius: 10px 0; transform: scale(0.8);}
.memberTop .tx_info .info .info-item {
	width: 140upx;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.memberTop .tx_info .info .txt {
	color: #fff;
}

.dd-list {
	font-size: 24upx;
	color: #5e5e5e;
	background: #fff;
}

.dd-list * {
	font-size: 24upx;
}
.dd-list .txt{
	font-size: 24upx;
}
.dd-list .item {
	padding: 22upx 10upx;
}
.dd-list.col__list .item {
	float: left;
	line-height: 1.5;
}

.dd-list.col__list .item * {
	line-height: 1.5;

}

.dd-list.number__col__list * {
	font-size: 28upx;
}

.dd-list.number__col__list .num {
	font-size: 36upx;
}
.dd-list .iconImg,
.dd-list .iconImg image {
	width: 64upx;
	height: 64upx;
	margin: 0 auto;
}
.dd-list .iconImg .iconfont{
	font-size: 56upx;
	line-height: 1;
}
.dd-list .iconImg {
	position: relative;
	margin-bottom: 4upx;
}
.memberIndex__section {
	margin-top: 20upx;
}

.section__hd {
	background: #fff;
	position: relative;
	padding: 16upx 20upx;
}

.memberIndex__section .section__hd:after {
	position: absolute;
	content: "";
	left: 20upx;
	right: 20upx;
	height: 1px;
	background-color: #eee;
	bottom: 0;
}

.section__hd .title {
	font-size: 32upx;
}

.section__hd .weui-cell__ft {
	color: #666666;
}

.section__hd .weui-cell__ft .more,
.section__hd .weui-cell__ft .more * {
	font-size: 24upx;
}

/* 我的订单 */
.tabList {
	height: 80upx;
}

.li_20 .swiper-tab-list {
	width: 20%;
	margin: 0;
}

.li_20 .swiper-tab-list .s {
	display: inline-block;
	line-height: 80upx;
	height: 80upx;
	/* padding:0 4upx; */
}

.column {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	padding: 0 10upx;
}

.column .right {
	margin-left: 20upx;
}

.column li {
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

.column li a {
	padding: 0 10upx 20upx;
}

.column li .title {
	line-height: 1.3;
	font-size: 28upx;
	margin: 10upx 0;
}

.column li .tit-con {
	font-size: 0.13rem;
	color: #7f7f7f;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10upx;
	line-height: 1.3;
}

.column li .specification {
	position: absolute;
	top: 10upx;
	left: 20upx;
	width: 24upx;
	text-align: center;
	border: 1px solid #b4a078;
	color: #b4a078;
	padding: 10upx 0;
	line-height: 1;
	font-size: 20upx;
	z-index: 3;
}

.column .outside {
	display: block;
}

.column .pictrueAll {
	position: relative;
	margin-bottom: 16upx;
}

.column .pictrueAll .pictrue {
	position: relative;
	width: 100%;
	padding-top: 100%;
	background-color: #f5f5f5;
}

.column .pictrueAll .pictrue image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.levelPanel {
	background: #fff;
	display: block;
	padding: 0;
}

.levelPanel .item__hd {
	padding: 20upx;
	font-size: 28upx;
}

.levelPanel .item__hd .status {
	color: #064eb1;
}

.levelPanel .item .outside {
	padding: 20upx;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	position: relative;
}

.levelPanel .item .outside .right {
	margin-left: 20upx;
}

.levelPanel .item .outside .pictrueAll {
	width: 30%;
	margin-bottom: 0;
	margin-right: 20upx;
}

.levelPanel .item .outside .txtBox {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	overflow: hidden;
}

.levelPanel .item .outside .txtBox .title {
	line-height: 1.4;
	margin-bottom: 10upx;
	font-size: 30upx;
}

.levelPanel .item .outside .txtBox .progressLine {
	margin-top: 20upx;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
}

.levelPanel .item .outside .txtBox .progressLine .right {
	margin-left: 20upx;
}

.levelPanel .item .outside .txtBox .progressLine .left {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.levelPanel .item .outside .txtBox .progressLine .right .btn {
	width: 160upx;
	line-height: 50upx;
	border: 1px solid #f48f18;
	text-align: center;
	border-radius: 6upx;
	color: #fff;
	font-size: 48upx;
	background: #f48f18;
	outline: none;
}

.levelPanel .item .outside .txtBox .progressLine .right .btn.btn-disable {
	border: 1px solid #ccc !important;
	background: #ccc;
}

.levelPanel .item .outside .txtBox .skuBox {
	font-size: 26upx;
	color: #999999;
	padding: 0;
	border-bottom: none;
}

.levelPanel .item .outside .txtBox .skuBox * {
	font-size: 26upx;
}

.levelPanel .item .outside .btn_refund {
	color: #999;
	border-color: #999;
	padding: 0 14upx;
	font-size: 26upx;
	margin-right: 0;
	margin-bottom: 0;
	line-height: 46upx;
}

.levelPanel .item .outside .txtBox .subStatus {
	color: #fd9d35;
}

.levelPanel .item .outside .txtBox .validTime {
	font-size: 20upx;
	color: #7F7F7F;
}

.levelPanel .item .outside .txtBox .sell-num {
	font-size: 24upx;
	color: #999;
}

.levelPanel .item .outside .txtBox .btnBuy {
	display: block;
	line-height: 48upx;
	border-color: #cab38b;
	color: #cab38b;
	font-size: 28upx;
	padding: 0 20upx;
}
.levelPanel .item .outside .txtBox .left{
	line-height: 1;
}
.levelPanel .item .outside .txtBox .new-price {
	color: #ff6666;
	font-size: 36upx;
	font-family: arial;
}
.levelPanel .item .outside .txtBox .new-price .yuan{ font-size: 24upx;}
.levelPanel .item .outside .txtBox .new-price.plusprice{
	color: #333;
}
.levelPanel .item .outside .txtBox .new-price.plusprice:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 28upx;
    width: 60upx;
    background: url(http://xcx.yixijiu19.com/static/plus/plus_icon.png) right center no-repeat;
    background-size: 100%;
}
.levelPanel .priceAllBox {
	padding: 20upx;
	font-size: 24upx;
	color: #333;
}

.levelPanel .priceAllBox .hj_price {
	font-size: 32upx;
}

.levelPanel .item__ft {
	text-align: right;
	padding: 0 20upx 20upx;
}
/* #ifdef H5 */
.levelPanel .item__ft .weui-btn {
	min-width: 164upx;
	padding: 0 24upx;
	line-height: 60upx;
	display: inline-block;
	vertical-align: middle;
	font-size: 28upx;
	color: #666666;
	margin-left: 20upx;
	border-radius: 200upx;
	background: none;
}
/* #endif */
/* #ifndef H5 */
.levelPanel .item__ft .weui-btn::after{
  border: none; 
}
.levelPanel .item__ft .weui-btn {
	width: 200upx;
	line-height: 60upx;
	padding: 0;
	border: 1px solid #ccc; 
	text-align: center;
	display: inline-block;
	overflow: visible;
	font-size: 28upx;
	color: #666666;
	margin-left: 20upx;
	border-radius: 30upx;
	background: none;
	margin-top: 0;
}
/* #endif */

.levelPanel .item__ft uni-button:after {
	border-radius: 200upx;
}

.levelPanel .item__ft .weui-btn.active {
	color: #064eb1;
}

.levelPanel .item__ft .weui-btn.active:after {
	border: 1px solid #064eb1;
}
/* #ifndef H5 */
.levelPanel .item__ft .weui-btn.active {
	color: #064eb1;
	border: 1px solid #064eb1;
	margin-top: 0;
}
.levelPanel .item__ft .weui-btn.active:after {
	border: none;
}
/* #endif */
.levelPanel.order__column {
	background-color: transparent;
}

.levelPanel.order__column .item {
	margin-bottom: 20upx;
	background-color: #fff;
}
.levelPanel.order__column .item .item__hd .txt{
	font-size: 30upx; color: #333; padding: 0 10upx;
}
.levelPanel .item .status.c_green{color: #4caf50;}
.levelPanel.order__column .item .item__hd .zctag{
	padding: 0 5upx;
	color: #F48F18;
	font-size: 24upx;
	border: 1px solid #F48F18;
	border-radius: 4px;
}
.levelPanel.order__column .item .item__hd .icon-shop{
	font-size: 38upx; color: #333;
}
.levelPanel.order__column .item .item__hd .uni-icon-arrowright{
	font-size: 28upx; color: #999;
}
.tx__weui-cell {
	background-color: #fff;
}

.tx__weui-cell .weui-cell__hd {
	font-size: 0;
	margin-right: 20upx;
}

.tx__weui-cell .tx {
	width: 120upx;
	height: 120upx;
	border-radius: 50%;
}


/* 上传图片 */

.uploadImage {
	display: block;
}

.uploadImage .upload-img {
	margin-top: 20upx;
	margin-right: 20upx;
}

.uploadImage .upload-img .img {
	width: 100%;
	height: 100%;
}

.uploadImage .upload-img .cancel {
	display: block;
	cursor: pointer;
	position: absolute;
	top: -18upx;
	right: -18upx;
	text-align: center;
	color: #bbb;
	z-index: 5;
}

.uploadImage .button-upload,
.uploadImage .upload-img {
	width: 200upx;
	height: 200upx;
	float: left;
	position: relative;
	border: 1px solid #e8e8e8;
}

.btnUploadAll {
	text-align: center;
	float: left;
}

.btnUploadAll .button-upload {
	float: none;
	margin-top: 20upx;
	color: #e8e8e8;
	cursor: pointer;
	background: url(http://xcx.yixijiu19.com/static/upimg.png) center no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden;
	border: none;
}


/* 购物车 */
.noConPage {
	height: 100%;
	padding: 0 40upx;
	text-align: center;
}

.table {
	display: table;
	width: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.noDataImg {
	width: 300upx;
	margin: 0 auto;
	margin-bottom: 32upx;
}

.noConPage .tips {
	color: #999999;
	font-size: 32upx;
}

.noConPage .btnBox {
	margin-top: 70upx;
}

.cartGroupList .item__hd {
	background-color: #ffefef;
	padding: 20upx;
	margin-top: 20upx;
	border-radius: 12upx 12upx 0 0;
}
.cartGroupList .item__hd .shop{ width: 80%;}
.cartGroupList .item__hd .shopName{ max-width: 400upx;}
.cartGroupList .item__hd .icon-dianpu  {
	font-size: 40upx; margin-right: 10upx; line-height: 1;
}

.selNumRow .uni-numbox{
	height: 56upx !important;
}

.selNumRow .uni-numbox__plus,
.selNumRow .uni-numbox__value,
.selNumRow .uni-numbox__minus {
	line-height: 56upx;
	width: 56upx;
	height: 56upx;
}

.selNumRow .uni-numbox__value {
	width: 72upx;
}

/* 购物车底部 */
.cartFoot {
	height: 104upx;
}
/* #ifdef MP-WEIXIN */
.cartFoot {
	height: 0;
}
/* #endif */
.cartFoot .inner {
	background: #fff;
	padding: 0 20upx;
	height: 104upx;
	bottom: 100upx;
}
/*  #ifdef  MP-WEIXIN  */
.cartFoot .inner {
	background: #fff;
	padding: 0 20upx;
	height: 104upx;
	bottom: 0;
}
/*  #endif  */
.cartFoot .inner .btnPay {
	display: inline-flex;
	margin-left: 10upx;
}

.cartFoot .inner .inner1 {
	color: #333333;
}
.cartFoot .inner .inner1 .hj{ line-height: 1;}
.cartFoot .inner .inner1 .msg {
	font-size: 24upx;
	color: #989898;
	margin-right: 10upx;
}

.cartFoot .inner .allPrice {
	color: #ff6666;
	font-size: 36upx;
}


/* 收货地址 */
.addressList .item {
	background-color: #fff;
	margin-bottom: 20upx;
}

.addressList .item .IconsCK {
	margin-right: 8upx;
}

.addressList .item .item__bd {
	padding: 30upx 20upx;
}

.addressList .item .item__bd .remarks {
	font-size: 30upx;
}

.addressList .item .item__bd .remarks .tel {
	color: #999;
	margin-left: 20upx;
}

.addressList .item .item__bd .address {
	font-size: 28upx;
	color: #333333;
	line-height: 1.4;
	margin-top: 6upx;
}
.addressList .item .item__bd .type{
	color:#999;
}
.addressList .item .item__ft {
	border-top: 1px solid #f2f2f2;
	padding: 10upx 20upx;
	line-height: 60upx;
	color: #999999;
}

.addressList .item .item__ft .iconText {
	margin-left: 30upx;
}

.addressList .item .item__ft .iconfont {
	display: inline-block;
	/* vertical-align: top; */
	font-size: 36upx;
	margin-right: 10upx;
}

.addAddress__weui-cells .weui-label {
	width: 170upx;
	/* #ifndef APP-PLUS */
	display: block;
	/* #endif */
	/* #ifdef APP-PLUS */
	display: flex;
	/* #endif */
}

.addAddress__weui-cells .weui-Area {
	height: 100upx;
	line-height: 1.8;
}

.addAddress__weui-cells .weui-Area * {
	line-height: 1.8;
}

/* 订单详情 */
.newsLogistics {
	padding: 20upx;
	border-bottom: 1px solid #F2F2F2;
}

.newsLogistics .icon_xiaoche {
	width: 60upx;
	margin-right: 20upx;
}

.newsLogistics * {
	line-height: 1.5;
}

.newsLogistics .txt {
	line-height: 1.4;
	margin-bottom: 8upx;
	font-size: 30upx;
	color: #ff6666;
}

.newsLogistics .time {
	color: #999;
}

.orderDetail__addressList .remarks {
	padding-left: 76upx;
}

.orderDetail__addressList .address {
	position: relative;
	padding-left: 76upx;
}

.orderDetail__addressList .address:after {
	font-family: uniicons;
	position: absolute;
	content: "\E333";
	height: 100%;
	top: -14upx;
	left: 0;
	font-size: 48upx;
}
.priceDetail {
	padding: 20upx 0;
	margin-bottom: 20upx;
}

.priceDetail .flex {
	padding: 0 20upx;
	font-size: 30upx;
	position: relative;
}

.priceDetail .flex * {
	font-size: 30upx;
}

.priceDetail .flex:last-child {
	margin-top: 18upx;
	padding-top: 18upx;
	border-top: 1px solid #F2F2F2;
}

.priceDetail .flex:last-child:after {
	width: 24upx;
	height: 24upx;
	border: 1px solid #F2F2F2;
	transform: rotate(-45deg);
	top: -12upx;
	content: "";
	right: 60upx;
	position: absolute;
	z-index: 2;
	background: #fff;
}

.priceDetail .flex:last-child:before {
	position: absolute;
	width: 60upx;
	height: 20upx;
	content: "";
	background: #fff;
	top: 0;
	right: 50upx;
	z-index: 3;
}

/* 订单信息 */
.orderStatus {
	background: #064eb1;
	font-size: 36upx;
	color: #fff;
	padding: 40upx 20upx;
	text-align: center;
}

.orderInfo__hd {
	padding: 20upx;
}

.orderInfo__hd .title {
	font-size: 32upx;
	display: inline-block;
	line-height: 1.1;
	vertical-align: middle;
	border-left: 2px solid #ee9b11;
	padding-left: 16upx;

}

.orderInfo__hd .title * {
	line-height: 1.1;
}

.orderInfo__bd {
	color: #999;
	padding: 0 20upx 16upx;
	line-height: 1.5;
}

.orderInfo__bd * {
	line-height: 1.5;
}

.orderInfo__bd .item {
	margin-bottom: 10upx;
}
.tag.btnCopy {
	color: #ee9b11;
	border-color: #ee9b11;
	padding: 0;
	border-radius: 4upx;
	margin-bottom: 0;
	margin-left: 30upx;
	line-height: 1.5;
	min-width: 100upx;
}

.lianxiBtns {
	border-top: 1px solid #F2F2F2;
}

.lianxiBtns,
.lianxiBtns .lianxiBtn {
	height: 90upx;
	line-height: 90upx;
	font-size: 32upx;
}

.lianxiBtns .lianxiBtn {
	border-left: 1px solid #F2F2F2;
}

.lianxiBtns .lianxiBtn:first-child {
	border-left: none;
}

.lianxiBtns .uni-icon {
	margin-right: 14upx;
	vertical-align: baseline;
}

.successfoot .footerBtn,
.successfoot {
	height: 110upx;
}

.successfoot .footerBtn {
	padding: 0 20upx;
}

.btn_close.uni-icon {
	font-size: 80upx;
	font-weight: 600;
	color: #999;
}

.pay__modal .uni-modal__ft:after {
	display: none;
}

.pay__modal .surePrice {
	text-align: center;
	font-size: 78upx !important;
	color: #000;
	font-weight: 500;
	margin-top: 10upx;
}

.pay__modal .weui-cells .weui-cell:before,
.payMethods__modal .weui-cells .weui-cell:before {
	left: 0;
	right: 0;
}

.pay__modal .weui-cells .weui-cell:last-child:before,
.payMethods__modal .weui-cells .weui-cell:last-child:before {
	display: block;
}

.pay__modal .weui-cell * {
	font-size: 32upx;
	line-height: 1.8;
}

.pay__modal .weui-cell__bd {
	color: #000;
}

/* 选择支付方式 */
.payMethods__modal .weui-cells {
	margin-top: 0;
}

.payMethods__modal .weui-cell {
	padding: 36upx 20upx;
}

.payMethods__modal .payImg {
	width: 74upx;
	margin-right: 20upx;
}

.payMethods__modal .weui-cell__hd {
	font-size: 0;
}

.payMethods__modal .weui-cell__bd,
.payMethods__modal .weui-cell__bd * {
	font-size: 36upx;
	color: #000;
}
.payMethods__modal .weui-cell__hd .iconfont{
	width: 74upx;
	height: 74upx;
	line-height: 74upx;
	margin-right: 20upx;
	font-size: 72upx;
}
.payMethods__modal .btn_close {
	font-weight: normal;
	font-size: 60upx;
}

/* 物流 */
.logistics{
	background: #fff;
	padding:40upx 20upx 0 0;
}
.logistics .addr {
    padding-left: 50upx;
}
.logistics .addr .inner {
  position: relative;
}
/*  #ifdef  MP-WEIXIN  */
.logistics .addr .inner {
  position: relative;
	width: 680upx;
	margin: 0;
	background-color: #fff;
}
.logistics .addr .inner:before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  top: 30upx;
  border-left: 1px dashed #FF3333;
}
/*  #endif  */
.logistics .addr .inner:before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  top: 30upx;
  width: 0;
  border-left: 1px dashed #FF3333;
}
.logistics .addr .inner .dian {
  position: absolute;
  left: -26upx;
  top: 0;
  display: block;
  width: 52upx;
  height: 52upx;
  text-align: center;
  line-height: 52upx;
  color: #fff;
  background: #FF3333;
  border-radius: 50%;
}
.logistics .addr .inner .addrInfo {
  padding-left: 60upx;
  padding-bottom: 40upx;
  line-height: 1.2;
  color: #505050;
}
.logistics .addr .inner .addrInfo .title {
  font-size:32upx;
  padding:4upx 0 10upx;
}
.logistics .addr .inner .addrInfo .txt {
  font-size: 26upx;
  padding-bottom: 10upx;
}
.logisticsList {
  padding-left: 50upx;
}
.logisticsList .item {
  position: relative;
  color: #909090;
}
.logisticsList .item *{
	line-height: 1.2;
}
.logisticsList .item:after {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  top: 30upx;
  width: 1px;
  background-color: #c9c9c9;
}
.logisticsList .item .dian {
  position: absolute;
  left: -30upx;
  top: 0;
  display: block;
  width: 60upx;
  height: 60upx;
}
.logisticsList .item .dian:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  display: block;
  height: 12upx;
  width: 12upx;
  border-radius: 50%;
  border: 2px solid #c9c9c9;
  top: 30upx;
  background-color: #fff;
  z-index: 3;
}
.logisticsList .item .addrInfo {
  padding-left: 60upx;
  padding-bottom: 40upx;
  line-height: 1.2;
}
.logisticsList .item .addrInfo .title {
  font-size: 32upx;
  padding: 4upx 0 10upx;
}
.logisticsList .item .addrInfo .title .time {
  font-size: 26upx;
}
.logisticsList .item .addrInfo .txt {
  font-size: 26upx;
  padding-bottom: 10upx;
}
.logisticsList .item:last-child:after {
  display: none;
}
.logisticsList .item.active {
  color: #505050;
}
.logisticsList .item.active .dian:after {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url(http://xcx.yixijiu19.com/static/circle_gou.png) center no-repeat;
  background-size: 50upx 50upx;
  border: none;
  top: 10upx;
}


/* 发票添加 */
.addInvoice__weui-cells{
	margin-top:0;
}
.addInvoice__weui-cells .weui-cell:before{
	left:0;
	right: 0;
}
.addInvoice__weui-cells .weui-label{
	width: 170upx;
	display: block;
}
.addInvoice__weui-cells .tag {
	margin-bottom: 0;
	min-width: 100upx;
	border-color:#bfbfbf;
	border-radius: 8upx;
	margin-right: 40upx;
}
.addInvoice__weui-cells .tag.active{
	border-color:#FF3333;
}
.addInvoice__weui-cells .msg{
	line-height: 1.2;
	font-size: 26upx;
}

/* 评价 */
.appraiseContent{
	background-color: #fff;
	margin-bottom: 20upx;
}
.appraiseContent__hd {
	padding:20upx;
	border-bottom:1px solid #F2F2F2;
}
.appraiseContent__hd .title{
	font-size: 32upx;
	margin-right: 60upx;
}
.appraiseContent__hd .grade{
	font-size: 0;
}
.appraiseContent__hd .grade .item{
	font-size: 32upx;
	display: inline-block;
	width: 33.3333333%;
	padding-left:60upx;
}
.appraiseContent__hd .grade .item.active{
	color:#ff6666;
}
.appraiseContent__hd .grade .item.good{
	background: url(http://xcx.yixijiu19.com/static/ping_good.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent__hd .grade .item.good.active{
	background: url(http://xcx.yixijiu19.com/static/ping_good2.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent__hd .grade .item.middle{
	background: url(http://xcx.yixijiu19.com/static/ping_middle.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent__hd .grade .item.middle.active{
	background: url(http://xcx.yixijiu19.com/static/ping_middle2.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent__hd .grade .item.bad{
	background: url(http://xcx.yixijiu19.com/static/ping_bad.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent__hd .grade .item.bad.active{
	background: url(http://xcx.yixijiu19.com/static/ping_bad2.png) left center no-repeat;
	background-size:48upx 48upx;
}
.appraiseContent .areaBox {
	padding:20upx 20upx 0;
}
.appraiseArea{
	height: 180upx;
}

/* 我的评价 */
.comment-head {
	background-color: #fff;
}
.comment-head .tx{
	width: 80upx;
	height: 80upx;
	border-radius: 50%;
	vertical-align: middle;
}
.commet button[type=primary][plain]{
	vertical-align: middle;
	border-color:#ff6666;
	color:#ff6666;
	line-height: 2;
	width: 160upx;
	padding:0;
	text-align: center;
}
.comment-content__hd{
	background: #fff;
	font-size: 32upx;
	padding:20upx;
	border-bottom: 1px solid #F2F2F2;
}
.commentList>.item{
	padding:10upx 20upx 0;
	background-color: #fff;
	margin-bottom: 20upx;
}
.commentList>.item .time{
	color:#999;
}
.commentList>.item .con{
	line-height: 1.4;
	margin-bottom: 30upx;
	font-size: 30upx;
}
.commentList>.item>.item__ft{
	padding:0 0 20upx 0;
	color:#999;
	font-size: 24upx;
}
.commentList>.item>.item__ft .txt *,
.commentList>.item>.item__ft .txt{
	font-size: 26upx;
}
.commentList>.item>.item__ft .txt {
	margin-right: 30upx;
}
.li_33 .item{
	width: 33.333333%;
}
.li_25 .item{
	width: 25%;
}
.imgLise{
	margin-right: -20upx;
	padding-bottom: 20upx;
}
.imgLise .item{
	float: left;
	margin-bottom: 20upx;
}
.imgLise .item .pictrueAll{
	margin-right: 20upx;
}
.imgLise .item .pictrue{
	width: 100%;
	padding-top:100%;
	position: relative;
}
.imgLise .item .pictrue image{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top:0;
	left:0;
}


/* 我的收藏(店铺收藏) */
.fwShop__weui-cells{
	margin-top:0;
	background: none;
}
.fwShop__weui-cells .weui-cell{
	margin-bottom: 20upx;
	background-color: #fff;
}
.fwShop__weui-cells .weui-cell:before{
	display: none;
}
.fwShop__weui-cells .tx{
	width: 80upx;
	height: 80upx;
	border-radius: 50%;
	margin-right: 20upx;
}
.fwShop__weui-cells .weui-cell__ft{
	margin-left:30upx;
}
.fwShop__weui-cells .btn {
	margin-bottom: 0;
	vertical-align: middle;
	line-height: 2;
	font-size: 28upx;
}

/* 店铺首页 */
.storeBaseInfo{
	line-height: 1.4;
	background-color: #fff;
}
.storeIndexTop .storeBaseInfo{
	background: #463837;
	color:#fff;
}
.storeBaseInfo .tx{
	width: 70upx;
	height: 70upx;
	vertical-align: middle;
	margin-right: 20upx;
}
.storeBaseInfo .weui-cell__bd,
.storeBaseInfo .weui-cell__bd *{
	line-height: 1.4;
}
.storeBaseInfo .followNum{
	font-size: 24upx;
}
.storeBaseInfo .btn_follow {
	background: #fff;
	color:#333;
	padding:0;
	line-height: 2;
	width: 120upx;
	text-align: center;
	font-size: 28upx;
	vertical-align: middle;
}
.storeBaseInfo .btn_follow.active{
	background: #ff6666;
	color:#fff;
}
.storeIndexTop .uni-tab-bar{
	background: #463837;
	color:#fff;
}
.storeIndexTop .uni-tab-bar .s{
	color:#fff;
}
.storeIndexTop .uni-tab-bar .active .s{
	border-bottom-color:#ffffff;
}

.li_50 .uni-product{
	width: 50%;
}
.li_33 .uni-product{
	width: 33.3333333%;
}
.li_33 .image-view,
.li_33 .uni-product-image{
	height: 200upx;
}


/* 店铺底部 */
.storeIndexBottom .navList {
	height: 100upx;
	background: #fff;
}
.storeIndexBottom .navList .item{
	float: left;
}

.storeIndexBottom .navList .title{
	height: 40upx;
	line-height: 40upx;
	font-size: 24upx;
	color:#999;
}
.storeIndexBottom .navList .item.active .title{
	color:#ff6666;
}
.storeIndexBottom .navList .iconImg{
	height: 50upx;
	display: block;
	width: 50upx;	
	margin:0 auto;
	margin-top:10upx;
}
.storeIndexBottom .navList .allP_icon .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu2.png) center no-repeat;
	background-size: 50upx;
}
.storeIndexBottom .navList .allP_icon.active .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu2_2.png) center no-repeat;
	background-size: 50upx;
}
.storeIndexBottom .navList .fenlei_icon .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu3.png) center no-repeat;
	background-size: 50upx;
}
.storeIndexBottom .navList .fenlei_icon.active .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu3_2.png) center no-repeat;
	background-size: 46upx;
}
.storeIndexBottom .navList .kefu_icon .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu4.png) center no-repeat;
	background-size: 50upx;
}
.storeIndexBottom .navList .kefu_icon.active .iconImg{
	background: url(http://xcx.yixijiu19.com/static/sMenu4_2.png) center no-repeat;
	background-size: 50upx;
}





.storeIndexBottom .logo {
	width: 70upx !important;
	height: 70upx !important;
	border-radius: 50%;
	margin:0 auto;
	margin-top:15upx !important;
}
/* 店铺详情 */
.uni-progress-inner-bar,
.uni-progress-bar{
	border-radius: 200upx;
}
.storeAppraise{
	background: #fff;
	padding:20upx;
	font-size: 30upx;
	margin-bottom: 20upx;
}
.storeAppraise view{
	font-size: 30upx;
}
.rateList .item .title{
	width: 150upx;
	display: inline-block;
}
.rateList .item .bar{
	display: inline-block;
	vertical-align: middle;
	width: 220upx;
	margin-right: 30upx;
}
.rateList .item .num {
	color:#ff6666;
}
.storeInfo .weui-label{
	display: block;
	width: 200upx;
}
.storeInfo .txt{
	color:#999;
}
.title__hd{
	background: #fff;
	text-align: center;
	padding:20upx;
}
.title__hd .title{
	display: inline-block;
	padding:0 40upx;
	position: relative;
	font-size: 32upx;
}
.title__hd .title.bg_yz{
	font-weight: 700;
}
.title__hd .title.bg_yz{
	padding:0 70upx;
}
.title__hd .title.bg_yz:after,
.title__hd .title.bg_yz:before,
.title__hd .title.bg_line:after,
.title__hd .title.bg_line:before{
	position: absolute;
	content: "";
}
.title__hd .title.bg_line:after,
.title__hd .title.bg_line:before{
	height: 1px;
	background: #e9ebea;
}
.title__hd .title.bg_yz:after,
.title__hd .title.bg_yz:before{
	height: 14upx;
	width: 34upx;
	top:0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top:50%;
	margin-top:-7upx;
}
.title__hd .title.bg_yz:before{
background-image: url(http://xcx.yixijiu19.com/static/cx_tit_left.png);
	left:0;
}
.title__hd .title.bg_yz:after{
background-image: url(http://xcx.yixijiu19.com/static/cx_tit_right.png);	
right:0;
}

.saleMenu{
	background: #fff;
}
.saleMenuList .item{
	float: left;
	padding:16upx 20upx;
	box-sizing: border-box;
}
.saleMenuList .item.active{
	color:#ff6666;
}
.saleTips{
	background: #fff9d5;
	padding:10upx 20upx;
	font-size: 26upx;
	color:#e78642;
	line-height: 1.3;
}
.saleTips *{
	font-size: 26upx;
}
.new__title__hd,
.new__title__hd .title{
	font-size: 26upx;
	color:#999;
}
.new__title__hd .title {
	background: url(http://xcx.yixijiu19.com/static/time.png) left center no-repeat; 
	background-size:30upx 30upx;
}

/* 动态 */
.welcomeTxt{
	padding:20upx;
	color:#666;
	background: #fff;
	margin-bottom: 20upx;
	font-size: 30upx;
	line-height: 1.5;
}
.trendsList .item{
	background: #fff;
	padding:0 20upx;
	margin-bottom: 20upx;
}
.trendsList .item .time{
	padding:20upx 0;
	font-size: 32upx;
	line-height: 1;
}
.trendsList .item .time .icon-shijian{
	font-size: 44upx;
	color:#333;
	margin-right: 10upx;
	line-height: 1;
}
.trendsList .item .title{
	font-size: 30upx;
	font-weight: 700;
}
.trendsList .item .tit_con{
	color:#666666;
	font-size: 26upx;
	position: relative;
	padding-left: 20upx;
	word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.5;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.trendsList .item .tit_con:before{
	position: absolute;
	content: "";
	left:0;
	height: 24upx;
	width: 3px;
	background: #666666;
	top:8upx;
}
.trendsList .item .pic {
	display: block;
	margin-top:20upx;
}
.trendsList .item .item__ft{
	padding:20upx 0;
	font-size: 24upx;
	color:#666;
}
.trendsList .item .info-text{
	display: inline-block;
	color:#7a7a7a;
	margin-left:40upx;
	padding-left:44upx;
	font-size: 24upx;
}
.trendsList .item .read{
	background: url(http://xcx.yixijiu19.com/static/eye.png) left center no-repeat;
	background-size: 44upx;
	padding-left:50upx;
	margin-left:0;
}
.trendsList .item .comment{
	background: url(http://xcx.yixijiu19.com/static/pl_icon.png) left center no-repeat;
	background-size: 34upx;
}
.trendsList .item .zan{
	background: url(http://xcx.yixijiu19.com/static/zan.png) left center no-repeat;
	background-size: 34upx;
}
.trendsList .item .zan.active{
	background: url(http://xcx.yixijiu19.com/static/zan2.png) left center no-repeat;
	background-size: 34upx;
}
/* 全部商品 */
.storeAllPHead{
	height: 100upx;
}
.storeAllPHead .uni-icon-arrowleft{
	
}
.storeAllPHead .rightBox{
	width: 120upx;
}
.storeAllPHead .logo{
	width: 60upx;
	height: 60upx;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.storeAllPHead .title{
	font-size: 32upx;
	font-weight: 700;
}
.storeAllPHead .titleBox {
	padding:0 20upx;
}
.storeAllPHead .titleBox view{
	line-height: 1.4;
}
.storeAllPHead .titleBox .msg{
	font-size: 22upx;
	color:#999;
}
.storeAllPHead .dotMenu{
	color:#000;
}
.searchBox{
	background-color: #fff;
	padding:0 20upx;
}
.searchBox .input-view{
	background: #f3f3f3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding:0 20upx;
	height: 30px;
	border-radius: 15px;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	line-height: 30px;
}
.searchBox .uni-icon.uni-icon-zdy_search {
	display: inline-block;
	height: 24px;
	width: 24px;
	background-size: 20px;
	margin-top: 3px;
}
.uni-icon-zdy_search {
	background: url(http://xcx.yixijiu19.com/static/seach.png) center center no-repeat;
	background-size: cover;
}
.searchBox .input-view .input {
    height: 30px;
    line-height: 30px;
    width: 100%;
    padding: 0 3%;
	box-sizing: border-box;
}

/* #ifdef MP-WEIXIN */
.MP-header {
	display: flex;
	flex-direction: row;
	padding: 0 20upx 20upx;
	box-sizing: border-box;
	align-items: center;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	background: #f5f5f5;
}
.MP-header .input-view {
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: #fff;
	height: 30px;
	border-radius: 15px;
	padding: 0 10px;
	flex: 1;
}
.MP-header .input {
	flex: 1;
	padding: 0 5px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
}
.MP-header .searchbtn{padding-left: 20upx;}
/* #endif */


