.course {
	height: 100%;
	.index_swiper .swiper {
		height: 330upx;
		.swiperTop {
			padding: 0 30upx;
			.img {
				height: 330upx;
			}
		}
	}
	.top {
		display: flex;
		position: fixed;
		width: 100%;
		z-index: 1;
		background-color: white;
		align-items: center;
		.top_left {
			padding: 0 10upx 0 30upx;
			text-align: center;
			text {
				font-size: 22upx;
				padding-left: 10upx;
			}
		}
		.search {
			flex: 4;
			padding: 5upx 0upx !important;
			.input-view {
				margin-left: 0 !important;
			}
		}
	}
	.sec {
		display: flex;
		padding: 20upx 30upx 10upx;
		> view {
			width: 50%;
			image {
				border-radius: 20upx;
				height: 340upx;
			}
		}
		.sec_1 {
			padding-right: 10upx;
		}
		.sec_2 {
			padding-left: 10upx;
			view{
				margin-bottom: 20upx;
				image {
					height: 160upx;
				}
			}
		}
	}
	.sec1_title {
		font-size: 36upx;
		font-weight: bold;
		margin-bottom: 10upx;
	}
	.sec1 {
		padding:20upx 30upx 30upx;
		.sec1_1 {
			margin-bottom: 16upx;
			image {
				border-radius: 20upx;
				height: 200upx;
			}
		}
		.sec1_2 {
			image {
				width: 49%;
				border-radius: 20upx;
				height: 188upx;
			}
		}
	}
	.sec2 {
		padding:20upx 30upx 30upx;
		.sec2_tab {
			left: 0;
			height: 100%;
			.tabList {
				width: 100%;
				.item {
					display: flex;
					align-items: center;
					justify-content: center;
					color: grey;
					background: #f3f3f3;
					border-radius: 100px;
					height: 60upx;
					padding: 0 20upx;
					margin-right: 20upx;
					margin-bottom: 20upx;
					box-sizing: border-box;
					font-size: 26upx;
					&.active {
						color: #f57609;
						background: #f17e083d;
					}
				}
			}

			.list {
				.sec2_1 {
					margin-bottom: 20upx;
					image {
						border-radius: 20upx;
						height: 280upx;
					}
				}
				.more {
					text-align: center;
					background: #f3f3f3;
					border-radius: 100px;
					margin: 30upx auto 0;
					height: 76upx;
					line-height: 76upx;
					width: 50%;
				}
			}
		}
	}
	.sec3 {
		padding:20upx 30upx 30upx;
	}
	.sec4 {
		.sec4_1 {
			display: flex;
			height: 220upx;
			line-height: 220upx;
			align-items: center;
			> view:nth-of-type(1) {
				flex: 1;
				margin-right: 20upx;
				image {
					height: 190upx;
					border-radius: 10upx;
				}
			}
			> view:nth-of-type(2) {
				flex: 1.8;
				height: 200upx;
				line-height: 60upx;
				.sec4_title {
					font-size: 33upx;
				}
				.sec4_title1 {
					color: gray;
					font-size: 22upx;
				}
				.sec4_title2 {
					color: #c5c5c5;
					transform: scale(0.9);
					margin-left: -25upx;
					image {
						border-radius: 50%;
						width: 56upx;
						height: 56upx;
					}
					text {
						padding-left: 10upx;
					}
				}
			}
		}
	}
}
