.course {
	background-color: white;
	height: 100%;
	.index_swiper .swiper {
		height: 332upx;
		.swiperTop {
			padding: 0 22upx;
			.img {
				height: 330upx;
			}
		}
	}
	.top {
		display: flex;
		align-items: center;
		.top_left {
			flex: 1;
			text-align: center;
			text {
				font-size: 22upx;
				padding-left: 10upx;
			}
		}
		.search {
			flex: 4;
			padding: 10upx 0upx !important;
			.input-view {
				margin-left: 0 !important;
			}
		}
	}
	.sec {
		display: flex;
		padding-bottom: 20upx;
		> view {
			flex: 1;
			image {
				border-radius: 20upx;
				height: 340upx;
			}
		}
		.sec_1 {
			padding: 20upx 20upx 0 20upx;
		}
		.sec_2 {
			view {
				padding: 20upx 20upx 0 0;
			}
			image {
				height: 161upx;
			}
		}
	}
	.line {
		height: 20upx;
		background-color: #f3f3f3;
	}
	.sec1 {
		margin: 12upx 12upx 22upx;
		.sec1_title {
			font-size: 36upx;
			font-weight: bold;
			margin: 0 0 22upx 22upx;
		}
		.sec1_1 {
			padding: 10upx;
			image {
				border-radius: 20upx;
				height: 250upx;
			}
		}
		.sec1_2 {
			display: flex;
			image {
				flex: 1;
				border-radius: 20upx;
				height: 210upx;
				padding: 10upx;
			}
		}
	}
	.sec2 {
		height: 100% !important;
		margin-top: 12upx;
		.sec1_title {
			font-size: 36upx;
			font-weight: bold;
			margin-left: 38upx;
		}
		.sec2_tab {
			background-color: white;
			left: 0;
			height: 100%;
			.tabList {
				width: 96%;
				display: flex;
				.item {
					flex: 1;
					text-align: center;
					color: grey;
					background: #f3f3f3;
					border-radius: 30px;
					margin: 6px -5px 6px 10px;
					line-height: 230%;
					height: 80%;
					box-sizing: border-box;
					&.active {
						color: #f57609;
						background: #f17e083d;
						border-radius: 30px;
					}
				}
			}

			.list {
				padding: 12upx 0;
				.sec2_1 {
					padding: 12upx 20upx;
					image {
						border-radius: 20upx;
						height: 280upx;
					}
				}
				.more {
					text-align: center;
					background: #f3f3f3;
					border-radius: 62upx;
					margin: 22upx auto;
					height: 76upx;
					line-height: 76upx;
					width: 50%;
				}
			}
		}
	}
	.sec3 {
		margin: 20upx;
		.sec1_title {
			font-size: 36upx;
			font-weight: bold;
			margin-left: 22upx;
		}
	}
	.sec4 {
		margin: 10upx;
		.sec4_1 {
			display: flex;
			height: 220upx;
			line-height: 220upx;
			align-items: center;
			> view:nth-of-type(1) {
				flex: 1;
				padding: 0 12upx;
				image {
					height: 190upx;
					border-radius: 10upx;
				}
			}
			> view:nth-of-type(2) {
				flex: 1.8;
				height: 200upx;
				line-height: 60upx;
				.sec4_title {
					font-size: 33upx;
				}
				.sec4_title1 {
					color: gray;
					font-size: 22upx;
				}
				.sec4_title2 {
					color: #c5c5c5;
					transform: scale(0.9);
					margin-left: -25upx;
					image {
						border-radius: 50%;
						width: 56upx;
						height: 56upx;
					}
					text {
						padding-left: 10upx;
					}
				}
			}
		}
	}
}
