.index_swiper {
	padding: 10upx 0 30upx;
	overflow: hidden;
}

.icon-menu {
	padding-bottom: 30upx;
	.item {
		display: inline-block;
	}
}
.page-section {
	border-radius: 20upx;
}
.scroll-view_H {
	white-space: nowrap;
	width: 100%;
}
.scroll-view-item_H {
	display: inline-block;
	vertical-align: top;
}

.HotsellList .uni-bd {
	margin-right: -20upx;
	padding-bottom: 20upx;
}

.Hotsell-list .itembox {
	width: 180upx;
	margin-right: 20upx;
	overflow: hidden;
}

.Hotsell-list .image-view {
	width: 180upx;
	height: 180upx;
	margin: 0;
}

.Hotsell-list .image-view .img {
	width: 100%;
	height: 100%;
}

.Hotsell-list .uni-product-price {
	margin-top: 0;
}

.Hotsell-list .uni-product-price .uni-product-price-favour {
	font-size: 24upx;
}
.porductname {
	margin-top: 10upx;
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	font-size: 24upx;
	line-height: 1.4;
	white-space: normal !important;
}
.BrandList {
	.uni-bd {
		overflow: hidden;
		margin: 0 -10upx;
		.item {
			width: 50%;
			float: left;
			margin-bottom: 20upx;
			padding: 0 10upx;
			height: 170upx;
			overflow: hidden;
			&:first-child {
				height: 360upx;
			}
			image {
				border-radius: 20upx;
				width: 100%;
				height: 100%;
			}
		}
	}
}
.tabbox {
	display: flex;
	.tab-item {
		width: 20%;
		text-align: center;
		font-size: 24upx;
		color: #666666;
		margin: 20upx 0 10upx;
		position: relative;
		view {
			line-height: 1.6;
		}
		.tabtitle {
			font-size: 30upx;
			color: #333;
			font-weight: bold;
		}
		.tabtips {
			font-size: 24upx;
		}
		&.active {
			color: #ea3425;
			.tabtitle {
				color: #ea3425;
			}
			.bb {
				background-color: #ea3425;
			}
		}
	}
	.bb {
		height: 6upx;
		width: 52upx;
		margin: 20upx auto;
		border-radius: 100px;
		background-color: transparent;
	}
	.br {
		border-right: #e4e4e4 2upx solid;
		height: 36upx;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.tab-item:last-child .br {
		border: none;
	}
}
